@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

#header {

	transition: all 1s ease;
	-moz-transition: all 1s ease; /* Firefox 4 */
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-o-transition: all 1s ease; /* Opera */

	background:  #21738F;

	border-bottom: 1px solid #dadada;
	position: fixed;
	width: 100%;
	top: 0;
	font-family: 'Lato', sans-serif;
	&.large {
		height: 60px;
		line-height: 60px;
		
		nav a {
			font-size: 20px;
			padding: 5px 10px 5px 10px;
		}

	}

	&.small{
		height: 30px;	
		line-height: 30px;
		nav a {
			font-size: 20px;
			padding: 0 10px 0 10px;
		}

	}

	/*z.chen logo on the top left*/
	h1 {
		left: 1.25em;
		position: absolute;
		a{
			border:0;
			display: block;
			text-decoration: none;
			color: #FFFFFF;
			font-size: 20px;
		}

	}


	nav{

		ul{
			position: absolute;
			right: 10px;
			margin-left: 300px;
			li{
				display: inline-block;
				/*padding: 0 5px;*/
				a{
					/*font-size: 20px;*/
					text-decoration: none;
					color: #FFFFFF;

				}	

				.nav-light {
						transition: all 1s ease;
						-moz-transition: all 1s ease; /* Firefox 4 */
						-webkit-transition: all 1s ease; /* Safari and Chrome */
						-o-transition: all 1s ease; /* Opera */

					background-color: #124252;
					border-radius: 5px;
				}

				.nav-dark {
					background-color: transparent;
				}

			}
		}
	}
}

body {
	padding-top: 100px;
	section {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		padding-top: 100px;
	}

}



section {
	height: 150px;
}